html, body{
    
    height: 100%;
    width: 100%;
    font-size: 62.7%;
    box-sizing: border-box;
    
}
header{
    
    background-color:ghostwhite;
    margin:0 auto;
    display:block;
    width:7rem;
    height:7rem;
    border:solid 3px;
    margin-bottom: 1rem;
    border-radius: 10px;
    
}