html,body{
    
    margin:7px;
    padding:1px;
    font-size:62.5%;
    box-sizing:border-box;
    
}   
body{
    
    background-color:skyblue;
    width:100%;
    height:100%;
    border:solid 3px;
}

header{
    
    background-color:ghostwhite;
    margin:0 auto;
    display:block;
    width:30rem;
    height:30rem;
    border:solid 3px;
    position:relative;
    margin-bottom: 3rem;
    
}

span{
    margin:0 auto;
    width:9rem;
    height:9rem;
    position:relative;
    display:block;
    transform: translateY(100%);
    background-color:black;
    border-radius: 50px;
    
}

div{
    margin:0 auto;
    margin-top: 3rem;
    background-color:white;
    width:30rem;
    height:30rem;
    display:block;
    border:solid 3px;
}

#one{
    margin:0 auto;
    width:9rem;
    height:9rem;
    display:block;
    transform: translateY(100%);
    background-color:black;
    border-radius: 50px;
    float:left;

}
#two{
    margin:0 auto;
    width:9rem;
    height:9rem;
    display:block;
    transform: translateY(100%);
    background-color:black;
    border-radius: 50px;
    float:right;
}
article{
    
    margin:0 auto;
    background-color:white;
    width:30rem;
    height:30rem;
    margin-top: 3rem;
    border:solid 3px;
}

#sp{
    margin:0 auto;
    width:9rem;
    height:9rem;
    display:inline-block;
    clear:both;
    transform: translateY(10%);
    background-color:black;
    border-radius: 50px;
      
}
#three{
    margin:0 auto;
    display:inline-block;
    clear:both;
     
}
#four{
    margin:0 auto;
    margin-top:115px;
    float:right;
    
    
    
}
/*SECTION TAG*/

section{
    margin:0 auto;
    background-color:white;
    width:30rem;
    height:30rem;
    clear:both;
    margin-top: 3rem;
    border:solid 3px; 
}

#sthree{
    margin:0 auto;
    display:block;
    float:right;
    background-color:black;
    transform:translateY(100px)
}
#sfour{
    margin:0 auto;
    position:relative;
    display:block;
    transform:translateY(100px);
    background-color:black;
}
#sfive{
    margin:0 auto;
    display:block;
    position:absolute;
    transform:translateY(10px);
    background-color:black;
}
footer{
    margin:0 auto;
    margin-top: 3rem;
    background-color:white;
    width:30rem;
    height:30rem;
    display:block;
    border:solid 3px;
    
}

#fone{
    margin:0 auto;
    background-color:black;
    transform:translateY(9%);
    clear:both;
    float:right;
    
}
        
#ftwo{

    margin:0 auto;
    background-color:black;
    transform:translateY(19%);
    clear:both;
    float:left;
}
/*
    margin:0 auto;
    display:block;
    float:left;
    background-color:black;
    transform:translateY(-91px)

}
*/

#fthree{
    margin:0 auto;
    float:left;
    background-color:black;
    clear:both;
    position:relative;
    transform:translateY(33%);
}
#ffour{
    margin:0 auto;
    position:relative;
    display:block;
    transform:translateY(10%);
    background-color:black;
}
#ffive{
    margin:0 auto;
    display:block;
    position:absolute;
    background-color:black;
    transform:translateY(-90%)
}
#fsix{
    margin:0 auto;
    display:block;
    background-color:black;
    float:right;
    transform:translateY(-80%)
}












/*


div{
    clear:both;
    margin-top: 3rem;
    background-color:red;
    margin:0 auto;
    width:30rem;
    height:30rem;
    float:right;
    position:relative;
    border:solid 3px;
    margin-bottom: 3rem;
}
h2{
    margin:0 auto;
    width:10rem;
    height:10rem;
    transform: translateY(100%);
    background-color:black;
    border-radius: 50px;
    clear:both;
    border:none;
    float:left;
}
#one{
    
    background-color:ghostwhite;
    margin:0 auto;
    width:30rem;
    height:30rem;
    border:solid 3px;
    content: ".";
    position:relative;
    margin-bottom: 3rem;

}

div{
    
    background-color:ghostwhite;
    margin:0 auto;
    width:20rem;
    height:20rem;
    border:solid 3px;
    content: ".";
    position:relative;
    margin-bottom: 3rem;
    
    
}
p{
  margin:0 auto;
  padding:0;
  display:block;
  font-size:10rem;
  font-width:10rem;
  border:solid 3px;
  float:right;
  
}
article{
    background-color:ghostwhite;
    margin:0 auto;
    width:30rem;
    height:30rem;
    border:solid 3px;
    float:right;
    content:".";
    position:relative;
    margin-bottom: 3rem;
}
section{
    background-color:ghostwhite;
    margin:0 auto;
    width:30rem;
    height:30rem;
    border:solid 3px;
    position:relative;
    margin-bottom: 3rem;
}
footer{
    background-color:ghostwhite;
    margin:0 auto;
    width:30rem;
    height:30rem;
    border:solid 3px;
    position:relative;
    float:left;
    margin-bottom: 3rem;
}
*/
    
    
    
    
    
    
    
    
    
    