html, body{
    height: 100%;
    width: 100%;
    font-size: 62.7%;
    box-sizing: border-box;
    
    
}


.dice{
    background-color:ghostwhite;
    margin:0 auto;
    display:block;
    width:7rem;
    height:7rem;
    border:solid .3rem;
    margin-bottom: 1rem;
    border-radius: .8rem;
    
}

.center_dot{
    
    margin:0 auto;
    margin-top:1.5rem;
    width:2rem;
    height:2rem;
    display:block;
    position:relative;
    background-color:black;
    border-radius: 8rem;
    transform: translateY(45%);
    
    
}
.dice{
    background-color:ghostwhite;
    margin:0 auto;
    display:block;
    width:7rem;
    height:7rem;
    clear:both;
    border:solid .3rem;
    margin-bottom: 1rem;
    border-radius: .8rem; 
}
.upper{
    margin:0 auto;
    width:2rem;
    height:2rem;
    display:block;
    position:relative;
    box-sizing: border-box;
    background-color:black;
    border-radius:8rem;
    float:left;

}
.bottom{
    margin:0 auto;
    margin-top:5rem;
    width:2rem;
    height:2rem;
    display:block;
    position:relative;
    background-color:black;
    border-radius:8rem;
    float:right;

}
.bottom3{
    margin:0 auto;
    margin-top:1.5rem;
    width:2rem;
    height:2rem;
    display:block;
    position:relative;
    background-color:black;
    border-radius:8rem;
    float:right;
}
.left_lower{
    margin:0 auto;
    margin-top:5rem;
    width:2rem;
    height:2rem;
    display:block;
    position:relative;
    background-color:black;
    border-radius:8rem;
    float:right;
    transform:translate(-3rem)
    
}
.right_upper{
    margin:0 auto;
    margin-left:2rem;
    width:2rem;
    height:2rem;
    display:block;
    background-color:black;
    border-radius: 8rem;
    float:right;
    transform: translateY(-7rem);
}
.middle_left{
    margin:0 auto;
    width:2rem;
    height:2rem;
    display:block;
    position:relative;
    float:left;
    background-color:black;
    border-radius: 8rem;
    transform: translateY(-4.5rem);
}

.middle_right{
    margin:0 auto;
    width:2rem;
    height:2rem;
    display:block;
    position:relative;
    float:right;
    background-color:black;
    border-radius: 8rem;
    transform: translateY(-6.5rem);
}

