html,body{
    
    margin:7px;
    padding:1px;
    font-size:62.5%;
    box-sizing:border-box;
    
}   
body{
    
    background-color:skyblue;
    width:100%;
    height:100%;
    border:solid 3px;
}

header{
    
    background-color:ghostwhite;
    margin:0 auto;
    padding:2%;
    display:block;
    width:30rem;
    height:30rem;
    border:solid 3px;
    position:relative;
    margin-bottom: 3rem;
    
}

span{
    margin:0 auto;
    width:9rem;
    height:9rem;
    position:relative;
    display:block;
    transform: translateY(110%);
    background-color:black;
    border-radius: 50px;
    
}

div{
    margin:0 auto;
    margin-top: 3rem;
    background-color:white;
    padding:2%;
    width:30rem;
    height:30rem;
    display:block;
    border:solid 3px;
}

#one{
    margin:0 auto;
    width:9rem;
    height:9rem;
    display:block;
    transform: translateY(-2%);
    background-color:black;
    border-radius: 50px;
    float:left;

}
#two{
    margin:0 auto;
    width:9rem;
    height:9rem;
    display:block;
    transform: translateY(230%);
    background-color:black;
    border-radius: 50px;
    float:right;
}
article{
    
    margin:0 auto;
    background-color:white;
    width:30rem;
    height:30rem;
     padding:2%;
    margin-top: 3rem;
    border:solid 3px;
}

#sp{
    margin:0 auto;
    width:9rem;
    height:9rem;
    display:inline-block;
    clear:both;
    transform: translateY(10%);
    background-color:black;
    border-radius: 50px;
      
}
#three{
    margin:0 auto;
    display:inline-block;
    clear:both;
    transform:translateY(125%);
    
}
#four{
    margin:0 auto;
    margin-top:115px;
    float:right;
    transform:translateY(114%);
    
}
/*SECTION TAG*/

section{
    margin:0 auto;
    background-color:white;
    width:30rem;
    height:30rem;
    padding:2%;
    clear:both;
    margin-top: 3rem;
    border:solid 3px; 
}
#stwo{
    margin:0 auto;
    background-color:black;
    transform:translateY(9%);
    clear:both;
    float:right;
    
}
#sthree{
    margin:0 auto;
    background-color:black;
    transform:translateY(-95%);
    clear:both;
    float:left;
}
#sfour{
    margin:0 auto;
    float:left;
    background-color:black;
    clear:both;
    position:relative;
    transform:translateY(23%);
}
#sfive{
    margin:0 auto;
    display:block;
    float:right;
    background-color:black;
    transform:translateY(20%)
}
#boxFive{
    margin:0 auto;
    margin-top: 3rem;
    background-color:white;
    width:30rem;
    height:30rem;
    padding:16px;
    display:block;
    border:solid 3px;
}
#bone{
    margin:0 auto;
    background-color:black;
    transform:translateY(230%);
    clear:both;
    float:right; 
}
#bthree{
    margin:0 auto;
    float:left;
    background-color:black;
    clear:both;
    position:relative;
    transform:translateY(130%);
}
#bfive{
    margin:0 auto;
    display:block;
    position:absolute;
    background-color:black;
    transform:translateY(20%) 
}
#bseven{
    margin:0 auto;
    display:block;
    background-color:black;
    transform:translateY(120%) 
}
#bnine{
    margin:0 auto;
    display:block;
    float:right;
    background-color:black;
    transform:translateY(-80%) 
}
boxSix{
    margin:0 auto;
    margin-top: 3rem;
    background-color:white;
    width:30rem;
    height:30rem;
    padding:16px;
    display:block;
    clear:both;
    border:solid 3px;
}
#zone{
    margin:0 auto;
    background-color:black;
    transform:translateY(1%);
    clear:both;
    float:right;
}
#zsix{
    margin:0 auto;
    display:block;
    background-color:black;
    clear:both;
    float:right;
    transform:translateY(20%)
}
#znine{
    margin:0 auto;
    display:block;
    float:right;
    clear:both;
    background-color:black;
    transform:translateY(40%)
}
#zfive{
    margin:0 auto;
    display:block;
    position:absolute;
    clear:both;
    background-color:black;
    transform:translateY(-3%)
}
#ztwo{
    margin:0 auto;
    background-color:black;
    transform:translateY(-181%);
    clear:both;
    float:left;
}
#zthree{
    margin:0 auto;
    float:left;
    background-color:black;
    clear:both;
    position:relative;
    transform:translateY(-163%);
}

/*THIS IS MY FOOTER BEGIN*/

footer{
    margin:0 auto;
    margin-top: 3rem;
    background-color:white;
    width:30rem;
    height:30rem;
    padding:16px;
    display:block;
    border:solid 3px;
    
}

#fone{
    margin:0 auto;
    background-color:black;
    transform:translateY(32%);
    clear:both;
    float:right;
    
}
        

#ftwo{

    margin:0 auto;
    background-color:black;
    transform:translateY(-70%);
    clear:both;
    float:left;
}

/*
    margin:0 auto;
    display:block;
    float:left;
    background-color:black;
    transform:translateY(-91px)

}
*/


#fthree{
    margin:0 auto;
    float:left;
    background-color:black;
    clear:both;
    position:relative;
    transform:translateY(-53%);
}
#ffour{
    margin:0 auto;
    position:relative;
    display:block;
    transform:translateY(10%);
    background-color:black;
}
#ffive{
    margin:0 auto;
    display:block;
    position:absolute;
    background-color:black;
    transform:translateY(-90%)
}
#fsix{
    margin:0 auto;
    display:block;
    background-color:black;
    float:right;
    transform:translateY(-280%)
}
#fseven{
    margin:0 auto;
    display:block;
    background-color:black;
    transform:translateY(20%)
}
#feight{
    margin:0 auto;
    display:block;
    background-color:black;
    transform:translateY(40%);
    
}
#fnine{
    margin:0 auto;
    display:block;
    float:right;
    background-color:black;
    transform:translateY(-55%);
    transform:translateX(100%)
}

OLD CSS
/*
div{
    clear:both;
    margin-top: 3rem;
    background-color:red;
    margin:0 auto;
    width:30rem;
    height:30rem;
    display:block;
    float:right;
    border:solid 3px;
    margin-bottom: 3rem;
}
*/


/*
#one{
    
    background-color:ghostwhite;
    margin:0 auto;
    width:30rem;
    height:30rem;
    border:solid 3px;
    content: ".";
    position:relative;
    margin-bottom: 3rem;

}
*/

/*
div{
    
    background-color:ghostwhite;
    margin:0 auto;
    width:20rem;
    height:20rem;
    border:solid 3px;
    content: ".";
    position:relative;
    margin-bottom: 3rem;
        
}
*/
/*
p{
  margin:0 auto;
  padding:0;
  display:block;
  font-size:10rem;
  font-width:10rem;
  border:solid 3px;
  float:right;
  
}
*/
/*
article{
    background-color:ghostwhite;
    margin:0 auto;
    width:30rem;
    height:30rem;
    border:solid 3px;
    float:right;
    content:".";
    position:relative;
    margin-bottom: 3rem;
}
section{
    background-color:ghostwhite;
    margin:0 auto;
    width:30rem;
    height:30rem;
    border:solid 3px;
    position:relative;
    margin-bottom: 3rem;
}
footer{
    background-color:ghostwhite;
    margin:0 auto;
    width:30rem;
    height:30rem;
    border:solid 3px;
    position:relative;
    float:left;
    margin-bottom: 3rem;
}
*/


    
    
    
    
    
    
    
    
    
    